body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.2;
  font-size: 16px;
  color: #3C3C3C;
}

.container {
  margin: 0 auto;
}

.container--content {
  max-width: 600px;
  width: 100%;
}

.container--main {
  max-width: 1220px;
  width: 100%;
}

.title {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.title--aside {
  margin-bottom: 14px;
  color: #ffffff;
  letter-spacing: 0.06em;
}

.title--content {
  margin-bottom: 17px;
  color: #6CD0DB;
}

.header__inner {
  padding:30px 10px;
  background-color: #3C3C3C;
}

.menu__btn {
  z-index: 1;
  position: relative;
  width: 30px;
  height: 20px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  display: none;
  outline: transparent;
}

.menu__btn::before,
.menu__btn::after,
.menu__btn span {
  position:absolute;
  background-color: #000000;
  width: 100%;
  height: 2px;
  left: 0;
  transition: transform 0.3s ease;
}

.menu__btn::before {
  content: '';
  bottom: 0;
}

.menu__btn::after {
  content: '';
  top: 0;
}

.menu__btn.active::before {
  top:10px;
  transform: rotate(-45deg);
}

.menu__btn.active::after {
  top: 10px;
  transform: rotate(45deg);
}

.menu__btn.active span {
  transform: scale(0);
}

.menu__list,
.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.menu__item:not(:last-child) {
  margin-right: 25px;
}

.menu__link {
  padding-bottom: 10px;
  display: block;
  position: relative;
  font-size: 25px;
  text-transform: uppercase;
  color:#ffffff;
}

.menu__link::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: transparent;
  transition: background-color 0.5s linear;
}

.menu__link:hover::after {
  background-color: #6CD0DB;
}

.main__inner {
  display: flex;
}

.aside,
.content {
  padding:60px;
}

.aside {
  max-width: 400px;
  width: 100%;
  background-color: #3C3C3C;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.aside__img {
  height: 260px;
  margin-bottom: 33px;
  overflow: hidden;
}

.aside__image {
  width: 100%;
}

.contacts__inner {
  padding: 45px 0;
}

.contacts__item:not(:last-child){
  margin-bottom: 25px;
}

.contacts__subtitle {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #6CD0DB;
}

.contact__link {
  display: block;
  font-family: 'Crimson';
  font-weight: 600;
  transition: color 0.3s linear;
  color: #D0D0D0;
}

.contact__link:hover {
  color: #ffffff;
}

.content {
  max-width: 800px;
  width: 100%;
}

.person {
  padding-bottom: 68px;
}

.person__title {
  font-weight: 700;
  font-size: 56px;
  text-transform: uppercase;
  color: #6CD0DB;
}

.person__work {
  text-transform: uppercase;
}

.content__section {
  padding-bottom: 48px;
}

.skills__list,
.myworks__list {
  list-style: none;
}

.skills__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2;
  text-transform: uppercase;
}

.skills__line {
  position: relative;
  flex-shrink: 0;
  max-width: 250px;
  width: 100%;
  height: 3px;
  background-color: #444;
}

.skills__percent {
  position: absolute;
  display: block;
  right: 0;
  top:0;
  height: 3px;
}

.skills__percent::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: #6CD0DB;
}

.myworks__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
}

.myworks__item {
  width: 40%;
}

.myworks__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 150px;
  text-align: center;
  color: #6CD0DB;
  transition: transform 0.5s linear;
}

.myworks__link:hover {
  transform: scale(1.1);
}

.myworks__link--serfing {
  background-image: url('../images/serfing.jpg');
}

.myworks__link--site {
  background-image: url('../images/newssite.jpg');
}

.myworks__technologies {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s linear;
}
.myworks__item:hover
.myworks__technologies {
  opacity: 1;
}

.code__task {
  margin-bottom: 20px;
}

.section__list  {
  list-style-position: inside;
}

.content__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__inner {
  padding: 15px 10px;
  background-color: #3C3C3C;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__item {
  color:#ffffff
}

.footer__img {
  width: 60px;
  height: 60px;
}

@media(max-width: 980px) {
  .aside,
  .content {
    padding: 35px;
  }

  .skills__line {
    max-width: 200px;
  }

}

@media(max-width: 768px) {
  body {
    line-height: 1.5;
  }

  .header__inner {
    padding: 20px;
  }

  .main__inner {
    flex-wrap: wrap;
  }

  .aside {
    max-width: 100%;
  }

  .container--aside {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aside__img {
    width: 240px;
    height: 250px;
    margin-bottom: 20px;
  }

  .contacts {
    text-align: center;
  }

  .contacts__items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    justify-content: space-between;
  }

  .contacts__item {
    text-align: center;
  }

  .person__title {
    font-size: 48px;
  }

  .content__section {
    text-align: justify;
  }
}

@media(max-width: 600px) {
  .title {
    font-size: 28px;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
  }

  .menu__btn {
    display: block;
  }

  .menu__list {
    position: absolute;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #3C3C3C;
    transform: translateY(-100%);
    transition: transform 0.5s linear;
    padding-top: 100px;
  }

  .menu__list.active {
    transform: translateY(0);
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
  }

  .menu__item {
    width: 100%;
    text-align: center;
  }

  .menu__link {
    padding: 10px 0;
  }

  .menu__link::after {
      display: none;
  }

  .content {
    padding: 15px;
  }

  .person {
    padding-bottom: 48px;
  }

  .person__title {
    margin-bottom: 10px;
    font-size: 45px;
    line-height: 1.2;
  }

  .content__section {
    padding-bottom: 30px;
  }

  .skills__item {
    flex-direction: column;
    align-items: flex-start;
  }

  .skills__item:not(:last-child) {
    margin-bottom: 25px;
  }

  .skills__line {
    max-width: 80%;
  }

  .myworks__item {
    width: 80%;
  }
  
  .myworks__link:hover {
    transform: scale(1);
  }

  .myworks__technologies {
    opacity: 1;
  }
}